:root {
    --color-primary: #8fb5ed;
    --color-secondary: #4a5568;
    --color-accent: #5f7397;
    --color-button: #4d6dff;
    --color-border: #e6e9ff;

    --color-card-bg: #f8f9ff;
    --color-card-border: #e0e3ff;
    --color-link: #6770da;
}

.text-primary-custom {
    color: var(--color-primary);
}

.text-secondary-custom {
    color: var(--color-secondary);
}

.text-accent-custom {
    color: var(--color-accent);
}

.text-link-custom {
    color: var(--color-link);
}

.btn-custom {
    background-color: var(--color-button);
    color: white;
}

.btn-link-custom {
    background-color: var(--color-link);
    color: white;
}

.card-custom {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-card-border);
}

.footer-border {
    border-top: 1px solid var(--color-border);
}